body {
    /*background-color: red;*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#divdetest1{
  display: block;
}

#divdetest2{
  display: none;
}

#divdetest3{
  display: none;
}

.navbarre{
  overflow: hidden;
  background-color: black;

}

.navbarre button {
  text-align: center;
  float: left;
  padding: 20px 20px;
  font-size: 20px;
  text-decoration: none;
  background-color: grey;
  color: black;
  transition-duration: 0.3s;
}

.navbarre button:hover {
  color: white;
}

.Connection {
  text-align: center;
  float: left;
  padding: 20px 20px;
  font-size: 20px;
  text-decoration: none;
  background-color: grey;
  color: black;
  transition-duration: 0.3s;
}

.Connection:hover {
  color: white;
}

.Deconnection {
  text-align: center;
  float: left;
  padding: 20px 20px;
  font-size: 20px;
  text-decoration: none;
  background-color: grey;
  color: black;
  transition-duration: 0.3s;
}

.Deconnection:hover {
  color: white;
}
