body {
    /*background-color: red;*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#divdetest1{
  display: block;
}

#divdetest2{
  display: none;
}

#divdetest3{
  display: none;
}


.navbarre{
  overflow: hidden;
  background-color: black;

}

.navbarre button {
  color: white;
  text-align: center;
  float: left;
  padding: 20px 20px;
  font-size: 20px;
  text-decoration: none;

}

.navbarre button:hover {
  background-color: #ddd;
  color: black;
}

.navbarre button.active {

  background-color: grey;
  color: black;
}
